/* Add CSS here */
.card{
    width:1025px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  
}
.message-button{
    background-color: #26282A;
    border: 1px solid #F6705E;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px 20px;
}
.message-button:hover{
    background-color: #F6705E;
}


.follow-button{
    margin-top: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F6705E;
    border: 1px solid #F6705E;
    color: #26282A;
    padding: 5px 20px;
}
.follow-button:hover{
    background-color: #26282A;
    color: white;
}

img{
    width:95px;
    height: 95px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
p{
    color: #717375;
    
}
.card_li{
    border-bottom: 1px solid #717375;
}
